# --- Fichiers Spécifiques au Projet (SGBDR -> Mongo) ---

# 1. Exclure les Collections MongoDB (JSON)
data/mongodb/collections/

# 2. Exclure les Résultats des requêtes (CSV)
data/mongodb/resultats_requetes_mongodb/
data/sqlite/resultats_requetes_sqlite/

app_ancienne_version.py

# 4. Exclure le sujet (PDF)
Sujet projet.pdf
test.py

# --- Exclusions Python Standard & Environnement ---

# Cache et compilation
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg
*.whl

# Environnements virtuels
.venv/
venv/
env/
/bin/
/include/
/lib/
/lib64/

# Configuration et Logs
.vscode/
.idea/
*.log
*.tmp
build/
dist/
*.egg-info/
.env
a faire