# --- Fichiers Spécifiques au Projet (SGBDR -> Mongo) ---

# 1. Exclure les Collections MongoDB (JSON)
data/mongodb/collections/

# 2. Exclure les Résultats des requêtes (CSV)
data/mongodb/resultats_requetes_mongodb/
data/sqlite/resultats_requetes_sqlite/

# 3. Exclure la base de données SQLite binaire (Optionnel mais recommandé)
# Si tu veux envoyer la DB vide ou de base, commente la ligne ci-dessous.
# Si c'est une DB de données qui évolue, garde-la ignorée.
data/sqlite/db/*.sqlite

# 4. Exclure le sujet (PDF)
Sujet projet.pdf


# --- Exclusions Python Standard & Environnement ---

# Cache et compilation
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg
*.whl

# Environnements virtuels
.venv/
venv/
env/
/bin/
/include/
/lib/
/lib64/

# Configuration et Logs
.vscode/
.idea/
*.log
*.tmp
build/
dist/
*.egg-info/
.env